/**********************************/
/************ VARI�VEIS ***********/
/**********************************/
@verde-a-01 : #BCED97;
@verde-a-02 : #9CED5E;
@verde-a-03 : #64CB14;
@verde-a-04 : #5A8836;
@verde-a-05 : #326D04;

@verde-b-01 : #92E697;
@verde-b-02 : #5BE664;
@verde-b-03 : #12B51C;
@verde-b-04 : #307935;
@verde-b-05 : #036109;

@verde-c-01 : #8CDDBD;
@verde-c-02 : #58DDA7;
@verde-c-03 : #0F9C63;
@verde-c-04 : #29694F;
@verde-c-05 : #035433;

/*** BACKGROUND AZUL ***/  
@azul-a-01 : #72D3D3;
@azul-a-02 : #40D3D3;
@azul-a-03 : #019494;
@azul-a-04 : #1C7070;
@azul-a-05 : #006161;

@azul-b-01 : #B0D1ED;
@azul-b-02 : #69B1ED;
@azul-b-03 : #0B5FA5;
@azul-b-04 : #24557E;
@azul-b-05 : #043F6F;

@azul-c-01 : #B4C4EF;
@azul-c-02 : #6F94EF;
@azul-c-03 : #123EAB;
@azul-c-04 : #294383;
@azul-c-05 : #072674;

/*** BACKGROUND AMARELO ***/  
@amarelo-a-01 : #FFF1B8;
@amarelo-a-02 : #FFE066;
@amarelo-a-03 : #FFCB00;
@amarelo-a-04 : #C4A52D;
@amarelo-a-05 : #AC8900;

@amarelo-b-01 : #FFF8B8;
@amarelo-b-02 : #FFF066;
@amarelo-b-03 : #FFE700;
@amarelo-b-04 : #C4B52D;
@amarelo-b-05 : #AC9C00;

@amarelo-c-01 : #FFFFB8;
@amarelo-c-02 : #FFFF66;
@amarelo-c-03 : #FFFF00;
@amarelo-c-04 : #C4C42D;
@amarelo-c-05 : #ACAC00;

/*** BACKGROUND VERMELHO ***/  
@vermelho-a-01 : #FDB7BE;
@vermelho-a-02 : #FD6674;
@vermelho-a-03 : #F60018;
@vermelho-a-04 : #BD2C3A;
@vermelho-a-05 : #A60010;

@vermelho-b-01 : #FFC3B8;
@vermelho-b-02 : #FF7E66;
@vermelho-b-03 : #FF2800;
@vermelho-b-04 : #C4452D;
@vermelho-b-05 : #AC1B00;

/*** BACKGROUND ROXO ***/  
@roxo-a-01 : #C7B4EF;
@roxo-a-02 : #996FEF;
@roxo-a-03 : #4512AE;
@roxo-a-04 : #482986;
@roxo-a-05 : #2B0676;

@roxo-b-01 : #D2B1EF;
@roxo-b-02 : #B16AEF;
@roxo-b-03 : #620CAC;
@roxo-b-04 : #582684;
@roxo-b-05 : #400474;

/*** BACKGROUND ROSA ***/  
@rosa-a-01 : #F2AFE0;
@rosa-a-02 : #F261CA;
@rosa-a-03 : #BE008A;
@rosa-a-04 : #922273;
@rosa-a-05 : #81005D;

@rosa-b-01 : #F6B2D6;
@rosa-b-02 : #F663B0;
@rosa-b-03 : #D0006E;
@rosa-b-04 : #A02566;
@rosa-b-05 : #8C004A;

/*** BACKGROUND LARANJA ***/  
@laranja-a-01 : #FFD5B8;
@laranja-a-02 : #FFA466;
@laranja-a-03 : #FF6700;
@laranja-a-04 : #C46A2D;
@laranja-a-05 : #AC4600;

@laranja-b-01 : #FFDFB8;
@laranja-b-02 : #FFBA66;
@laranja-b-03 : #FF8C00;
@laranja-b-04 : #C4802D;
@laranja-b-05 : #AC5F00;

/*** BACKGROUND CINZA ***/  
@cinza-a-01 : #C3C3C3;
@cinza-a-02 : #7E7E7E;
@cinza-a-03 : #525252;
@cinza-a-04 : #373737;
@cinza-a-05 : #000000;

@cinza-b-01 : #E8E8E8;
@cinza-b-02 : #CFCFCF;
@cinza-b-03 : #828282;
@cinza-b-04 : #4F4F4F;
@cinza-b-05 : #1C1C1C;

/*** BACKGROUND MARROM ***/  
@marom-a-01 : #DE9967;
@marom-a-02 : #B87341;
@marom-a-03 : #985321;
@marom-a-04 : #662B00;
@marom-a-05 : #2D1300;

@marom-b-01 : #C37E4C;
@marom-b-02 : #AB6634;
@marom-b-03 : #783201;
@marom-b-04 : #3C1900;


/*** PADDING ***/
@padding0: 0px;
@padding1: 2.5px;
@padding2: 5px;
@padding3: 7.5px;
@padding4: 10px;
@padding5: 12.5px;
@padding6: 15px;
@padding7: 17.5px;
@padding8: 20px;
@padding9: 22.5px;
@padding10: 25px;
@padding11: 27.5px;
@padding12: 30px;
/*** MARGIM ***/
@margin0: 0px;
@margin1: 2.5px;
@margin2: 5px;
@margin3: 7.5px;
@margin4: 10px;
@margin5: 12.5px;
@margin6: 15px;
@margin7: 17.5px;
@margin8: 20px;
@margin9: 22.5px;
@margin10: 25px;
@margin11: 27.5px;
@margin12: 30px;

/*** CONFIGURAÇÕES ***/
@float-left: left;
@float-right: right;
@clear: both;
@pos-absolute: absolute;
@pos-relative: relative;

/*** BACKGROUND ***/
@repeat: repeat;
@repeat-x: repeat-x;
@repeat-y: repeat-y;

/*** FONT FAMILY***/
@font-family-01: Verdana, Geneva, sans-serif;
@font-family-02: Georgia, "Times New Roman", Times, serif;
@font-family-03: "Trebuchet MS", Arial, Helvetica, sans-serif;
@font-family-04: Arial, Helvetica, sans-serif;
@font-family-05: Tahoma, Geneva, sans-serif;
@font-family-06: "Arial Black", Gadget, sans-serif;
@font-family-07: "Times New Roman", Times, serif;
@font-family-08: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
@font-family-09: "Comic Sans MS", cursive;
@font-family-10: "Palatino Linotype", "Book Antiqua", Palatino, serif;
@font-family-11: Helvetica, sans-serif;
@font-family-12: Symbol, sans-serif;
@font-family-13: Webdings, sans-serif;
@font-family-14: Garamond, serif;
@font-family-15: Impact, Charcoal, sans-serif;

/*** FONT SIZE ***/
@font-size-01: 8px;
@font-size-02: 9px;
@font-size-03: 10px;
@font-size-04: 11px;
@font-size-05: 12px;
@font-size-06: 13px;
@font-size-07: 14px;
@font-size-08: 15px;
@font-size-09: 16px;
@font-size-10: 18px;
@font-size-11: 20px;
@font-size-12: 22px;
@font-size-13: 24px;
@font-size-14: 26px;
@font-size-15: 28px;
@font-size-16: 30px;
@font-size-17: 35px;
@font-size-18: 40px;
@font-size-19: 45px;
@font-size-20: 50px;
@font-size-21: 55px;
@font-size-22: 60px;

/*** FONT STYLO ***/
@font-style-italic: italic;
@font-style-normal: normal; 
@font-style-bold: bolder;

/********************************************************/
/************************ FUNÇÕES ***********************/
/********************************************************/
.centralizaModal(@altura,@largura){
    top: 50%;
    left: 50%;
    margin-top: calc(@altura / 2 * -1);
    margin-left: calc(@largura / 2 * -1);
    position: absolute;
}
.centraliza(){
    margin: 0 auto;
}
.border-radius(@radius: 5px){ 
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;

}
.text-shadow(@var1,@var2,@var3,@cor){
    text-shadow: @var1 @var2 @var3 @cor;
}
.divisao-coluna(@qt-colunas,@margin){
    -moz-column-count: @qt-colunas;
    -moz-column-gap: @margin;
    -webkit-column-count: @qt-colunas;
    -webkit-column-gap: @margin;
    column-count: @qt-colunas;
    column-gap: @margin;
}
.box-shadow(@var1,@var2,@var3,@cor){
    -moz-box-shadow:@var1 @var2 @var3 @cor;
    -webkit-box-shadow:@var1 @var2 @var3 @cor;
    box-shadow:@var1 @var3 @var2 @cor;
}
.gradiente-vertical(@cor1,@cor2){
    background: @cor1;
    background: -moz-linear-gradient(top,  @cor1 0%, @cor2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@cor1), color-stop(100%,@cor2));
    background: -webkit-linear-gradient(top,  @cor1 0%,@cor2 100%);
    background: -o-linear-gradient(top,  @cor1 0%,@cor2 100%);
    background: -ms-linear-gradient(top,  @cor1 0%,@cor2 100%);
    background: linear-gradient(to bottom,  @cor1 0%,@cor2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@cor1', endColorstr='@cor2',GradientType=0 );
}
.gradiente-horizontal(@cor1,@cor2){
    background: @cor1;
    background: -moz-linear-gradient(left, @cor1 0%, @cor2 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,@cor1), color-stop(100%,@cor2));
    background: -webkit-linear-gradient(left, @cor1 0%,@cor2 100%);
    background: -o-linear-gradient(left, @cor1 0%,@cor2 100%);
    background: -ms-linear-gradient(left, @cor1 0%,@cor2 100%);
    background: linear-gradient(to right, @cor1 0%,@cor2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@cor1', endColorstr='@cor2',GradientType=1 );
}
.rgba-bg(@red,@green,@blue,@opacidade){
   background-color:  rgba(@red, @green, @blue, @opacidade);
}
.rgba-color(@red,@green,@blue,@opacidade){
   color:  rgba(@red, @green, @blue, @opacidade);
}
.transition(@tempo,@delay: 0s){
    -webkit-transition: all @tempo ease @delay;
    -moz-transition: all @tempo ease @delay;
    -ms-transition: all @tempo ease @delay;
    -o-transition: all @tempo ease @delay;
    transition: all @tempo ease @delay;
}
.transforme(@move_largura: 0deg,@move_altura: 0deg,@rotacao: 0deg,@scala: 1){
    -moz-transform: scale(@scala) rotate(@rotacao) translateX(@move_altura) translateY(@move_largura);
    -webkit-transform: scale(@scala) rotate(@rotacao) translateX(@move_altura) translateY(@move_largura);
    -o-transform: scale(@scala) rotate(@rotacao) translateX(@move_altura) translateY(@move_largura);
    -ms-transform: scale(@scala) rotate(@rotacao) translateX(@move_altura) translateY(@move_largura);
    transform: scale(@scala) rotate(@rotacao) translateX(@move_altura) translateY(@move_largura);
}
